@model  DoktorMvcProject.Entities.Doctor

<div>
    <h4 style="color:maroon">Doctor Detail </h4>
    <hr />

    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
            <b><label>:</label></b>
        </div>
        <div class="col-md-10">
           @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Title.Title)</b>
           <b><label>:</label></b>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Title.Title)
        </div>
    </div>

</div>

